{% extends 'base.html.twig' %}

{% block body %}
    {% include 'view/_breadCrumb.html.twig' %}
    <div class="container-fluid">
        <h1>{{ skillResultIndex.skill.name }}</h1>

        <table class="table overflow-auto w-100">
            <thead>
            <tr>
                <th scope="col">skill</th>
                <th scope="col">all</th>
                {% for user in skillResultIndex.users %}
                    <th scope="col">{{ user.email }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for skillItem in skills %}
                <tr>
                    <td scope="col">
                        {% if skillItem.hasChildren %}
                            <a href="{{ path('view_skill',{id:skillItem.id}) }}">{{ skillItem.name }}</a>
                        {% else %}
                            {{ skillItem.name }}
                        {% endif %}
                    </td>
                    <td scope="col">
                        {% for result in firstUser.indexedResults %}
                            {% if result.skillId == skillItem.id %}
                                <div class="progress mb-1">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ 100 / 6 * result.skill.skillResultIndex.average }}%"
                                         aria-valuenow="{{ result.skill.skillResultIndex.average }}"
                                         aria-valuemin="0" aria-valuemax="6"></div>
                                </div>
                                <div class="progress mb-1">
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ 100 / 6 * result.skill.skillResultIndex.maxResult }}%"
                                         aria-valuenow="{{ result.skill.skillResultIndex.maxResult }}"
                                         aria-valuemin="0" aria-valuemax="6"></div>
                                </div>
                                <div class="progress mb-1">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ 100 / 6 * result.skill.skillResultIndex.childrenAverage }} }}%"
                                         aria-valuenow="{{ result.skill.skillResultIndex.childrenAverage }} }}"
                                         aria-valuemin="0" aria-valuemax="6"></div>
                                </div>
                                <span class="small">
                                    <span class="badge badge-primary">avarage: {{ result.skill.skillResultIndex.average }}/6</span>
                                    <span class="badge badge-secondary">highest: {{ result.skill.skillResultIndex.maxResult }}/6</span>
                                    <span class="badge badge-success">averageChild: {{ result.skill.skillResultIndex.childrenAverage }}/6</span>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% for user in skillResultIndex.users %}
                        <td scope="col">
                            {% for result in user.indexedResults %}
                                {% if result.skillId == skillItem.id %}
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ 100 / 6 * result.result }}%"
                                             aria-valuenow="{{ result.result }}"
                                             aria-valuemin="0" aria-valuemax="6"></div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ 100 / 6 * result.childrenHighest }}%"
                                             aria-valuenow="{{ result.childrenHighest }}"
                                             aria-valuemin="0" aria-valuemax="6"></div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ 100 / 6 * result.childrenAverage }}%"
                                             aria-valuenow="{{ result.childrenAverage }}"
                                             aria-valuemin="0" aria-valuemax="6"></div>
                                    </div>
                                    <span class="small">
                                    <span class="badge badge-primary">result: {{ result.result }}/6</span>
                                    <span class="badge badge-secondary">highest: {{ result.childrenHighest }}/6</span>
                                    <span class="badge badge-success">averageChild: {{ result.childrenAverage }}/6</span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{#                    <canvas id="myChart" width="200" height="200"></canvas>#}
