{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ path('skill_builder_tree') }}">Start</a>
                </li>
                {% for entry in breadCrumb %}
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{{ entry.path }}">{{ entry.name }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ path('skill_builder_tree_list',{id: skill.id}) }}">{{ skill.name }}</a>
                </li>

            </ol>
        </nav>
    </div>
    <div class="container my-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Do you really want to delete: {{ skill.name }}</h4>
                <div class="row">
                    <div class="col">
                        <a href="{{ path('skill_builder_tree_list',{id:skill.id}) }}" class="btn btn-primary">No</a>
                    </div>
                    <div class="col">
                        <form action="{{ path('skill_builder_tree_delete',{id: skill.id}) }}" method="post">
                            <input type="hidden" value="{{ skill.id }}" name="skillId">
                            <button type="submit" class="btn btn-light">Yes</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}