{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ path('skill_builder_tree') }}">Start</a>
                </li>
                {% for entry in breadCrumb %}
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{{ entry.path }}">{{ entry.name }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a class="active" href="{{ path('skill_builder_tree_list',{id: skill.id}) }}">{{ skill.name }}</a>
                </li>

            </ol>
        </nav>
    </div>
    {% if mode == 'new' or mode == 'edit' %}
        <div class="container">
            <h1>{{ skill.name }}</h1>
            {{ form(form) }}
        </div>
    {% endif %}

    {% if mode == 'list' and skill.id > 0 %}
        <div class="container my-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ skill.name }}</h4>
                    <p class="card-text">{{ skill.description }}</p>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Edit skill or create new sub skills</p>
                    <a href="{{ path('skill_builder_tree_edit',{id:skill.id}) }}" class="card-link">Edit</a>
                    <a href="{{ path('skill_builder_tree_new',{id:skill.id}) }}" class="card-link">Create</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if mode == 'list' and skills|length > 0 %}
        <div class="container my-4">
            <h2>Children</h2>
            <ul class="list-group ">
                {% for skill in skills %}
                    <li class="list-group-item">
                        <p>{{ skill.name }} <a href="{{ path('skill_builder_tree_list',{id:skill.id}) }}">open</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if mode == 'list' and skill.id > 0 %}
        <div class="container my-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Delete skill: <strong>{{ skill.name }}</strong> and all its children</p>
                    <a href="{{ path('skill_builder_tree_delete', { id: skill.id}) }}" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}