{% extends 'base.html.twig' %}

{% block title %}Buzzword{% endblock %}

{% block body %}
    <h1>Buzzword</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ buzzword.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ buzzword.title }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ buzzword.points }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ buzzword.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('buzzword_index') }}">back to list</a>

    <a href="{{ path('buzzword_edit', {'id': buzzword.id}) }}">edit</a>

    {{ include('buzzword/_delete_form.html.twig') }}
{% endblock %}
