{% extends 'base.html.twig' %}

{% block title %}Edit Result{% endblock %}

{% block body %}
    {% include 'result/_breadCrumb.html.twig' %}
    <div class="container">
        <div class="card my-3">
            <div class="card-header">
                <h1 class="card-title">{{ skill.name }}</h1>
                <div class="card-subtitle">{{ skill.description }}</div>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{ question.question }}</h2>
                <p>{{ question.description }}</p>
            </div>
        </div>

    {{ include('result/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profile_index') }}">back to list</a>

    {{ include('result/_delete_form.html.twig') }}
     </div>

{% endblock %}
