{% if level is not defined %}
    {% set level = 1 %}
{% endif %}

{% for skill in skills %}
    <div class="tree card mb-1{% if level > 1 %}{% endif %}">
        <div class="row">
            <div class="col-3">
                <div class="card-body">
                    <div class="card-title">
                        {% if skill.hasResults %}
                            <h5 class="font-weight-bold tree-title">
                                {{ skill.name }}
                                <a href="{{ path('result_edit',{id:skill.results.id}) }}">edit</a>
                            </h5>
                        {% else %}
                            <h5 class="font-weight-bold tree-title">
                                {{ skill.name }}
                                <a href="{{ path('result_new',{id:skill.id}) }}">new</a>
                            </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    {% if skill.hasResults %}
                        <div>
                            <div class="progress mb-1">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 100 / 6 * skill.results.result }}%" aria-valuenow="{{ skill.results.result }}"
                                     aria-valuemin="0" aria-valuemax="6"></div>
                            </div>
                        </div>
                    {% endif %}
                    {% if skill.hasChildren %}
                        <div class="progress mb-1">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ 100 / 6 * skill.childrenAverage }}%"
                                 aria-valuenow="{{ skill.childrenAverage }}"
                                 aria-valuemin="0" aria-valuemax="6"></div>
                        </div>
                        <div class="progress mb-1">
                            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ 100 / 6 * skill.childrenMax }}%" aria-valuenow="{{ skill.childrenMax }}"
                                 aria-valuemin="0" aria-valuemax="6"></div>
                        </div>
                    {% endif %}
                    <div class="results small">
                        {% if skill.hasResults %}
                            <span class="badge badge-info">result: {{ skill.results.result }}/6</span>
                        {% endif %}
                        {% if skill.hasChildren %}
                            <label>children: </label>
                            <span class="badge badge-success">average: {{ skill.childrenAverage }}/6</span>
                            <span class="badge badge-secondary">highest: {{ skill.childrenMax }}/6</span>
                            <a class="float-right" data-toggle="collapse" href="#subSkills{{ skill.id }}" role="button" aria-expanded="false"
                               aria-controls="subSkills{{ skill.id }}">
                                toggle children ({{ skill.children|length }})
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if skill.hasChildren %}
        <div class="collapse my-{{ level }} mb-4 pl-2" id="subSkills{{ skill.id }}">
            <h5 class="card-title mt-2 mb-0 ml-2">{{ skill.name }}</h5>
            {% include 'profile/_tree.html.twig' with {skills: skill.children, level: level+1} %}
        </div>
    {% endif %}
{% endfor %}
